.search-bar-section,
.mobile-search-bar {
    background-color: #ffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-width: 600px;
    min-width: 50px;
    margin: 0 auto;
    width: 100%;
}

.mobile-search-bar {
    margin: 0;
    min-width: 100px;
    max-width: 100%;
    margin: 0 10px;
}

.search-field-icon {
    color: green;
    padding: 0 10px;
    border-right: 1px solid rgb(175, 175, 175);
}

.dropdown-btn {
    display: flex;
    align-items: center;
}

.dropdown-btn.dropdown-toggle::after {
    display: none !important;
}

.search-btn {
    background-color: rgb(1, 160, 67);
    color: #fff;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
}

.search-btn:hover,
.search-btn:active {
    background-color: rgb(1, 160, 67) !important;
    color: #ffff;
}

.icon-btn,
.text-btn {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    margin: 0 10px 0 0;
}

.text-btn {
    width: max-content;
    border-radius: 5px;
    height: max-content;
    font-size: 16px;
}

.text-btn i {
    margin: 0 10px 0 0;
    font-size: 15px;
}

.icon-btn:hover,
.text-btn:hover {
    background-color: rgba(206, 206, 206, 0.137);
    color: #ffff;
}

.icon-btn:active,
.text-btn:active {
    background-color: rgba(206, 206, 206, 0.253);
    color: #acacac;
}