/*----- Sidebar Body -----*/
.sidebar-body {
    width: 250px;
    background-color: #ffff;
    height: calc(100vh - 56px);
    position: relative;
    transition: all 0.5s ease-in-out;
    border-right: 1px solid rgb(201, 201, 201);
    overflow-x: hidden;
}


/*----- Sidebar close -----*/
.sidevar-close {
    width: 70px;
}

/*----- Sidebar links list -----*/
.sidebar-link-list {
    list-style-type: none;
    padding: 0;
    margin: 0 !important;
}

/*----- Sidebar links Grop -----*/
.links-group {
    height: calc(100vh - 114px);
    overflow-y: scroll;
}
.links-group::-webkit-scrollbar {
    display: none;
  }

/*----- Sidebar links -----*/
.sidebar-links {
    padding: 15px 10px 15px 28px;
    font-size: 18px;
    background-color: #ffff;
}

.sidebar-links:hover,
.active-link {
    background-color: rgba(0, 128, 0, 0.048);
    border-left:3px solid green;
    padding-left: 25px;
    color: green;
}

.active-link {
    background-color: rgba(0, 128, 0, 0.144) !important;
}


/*----- Sidebar links Icon -----*/
.sidebar-links >i {
    margin: 0 25px 0 0 ;
}

/*----- Sidebar Bottom links -----*/
.bottom-link {
    position: relative;
    bottom: -0;
    margin: 0 ;
    width: 100%;
}
.bottom-link .sidebar-links {
    border-top: 1px solid rgb(201, 201, 201);
}

@media screen and (max-width: 768px) {
    .sidebar-links {
        padding: 10px 10px 10px 21px;
    }

    .sidebar-links:hover,
    .active-link {
        padding-left: 18px;
    }

    .sidevar-close {
        width: 60px;
    }
    
}